<h2>courses List</h2>
<div class="course-block">
  <table class="table table-striped table-bordered table-hover">
    <thead>
      <tr>
        <th class="col-md-2">Name</th>
     <th class="col-md-4">Creator</th>
     <th>Creator Role</th>
     <th>Options</th>
      </tr>
    </thead>
    <tbody>
      <% @courses.each do |course| %>
        <tr>
         <td class="col-md-2"><%= link_to "#{course.name}"  %></td>
         <td class="col-md-2">
         <%= course.user.try(:email)%>
         <td></td>
         <td class="col-md-4">
            <%= link_to 'Show', course_path(course), class: "btn btn-info" %>
            <%= link_to 'Edit', edit_course_path(course), class: "btn  btn-warning" %>
            <%= link_to 'Destroy', course_path(course), method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger" %>
         </td>
     </tr>
      <% end %>
    </tbody>
  </table>
</div>
<br>
<%= link_to 'New course', new_course_path, class: "btn btn-primary" %>